<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
			http://www.springframework.org/schema/mvc
			http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-4.2.xsd ">
    <!--扫描包路径下注解-->
    <context:component-scan base-package="com.example.*"></context:component-scan>

    <mvc:default-servlet-handler></mvc:default-servlet-handler>

    <!--启动spring-mvc注解-->
    <mvc:annotation-driven></mvc:annotation-driven>

    <!--
    添加视图解析器
    视图解析器可以在你转发的url上自动添加前缀或者后缀，添加的值为value属性中的字符串
    -->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value=""></property>
        <property name="suffix" value=""></property>
    </bean>

    <!--
    文件上传到的配置
    id必须为multipartResolver，写其它的会报错
    -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" >
        <!--设置编码格式-->
        <property name="defaultEncoding" value="UTF-8"></property>
        <!--设置单文件上传大小 1M  value值以bite为单位-->
        <property name="maxUploadSizePerFile" value="1048576"></property>
        <!--限制文件的总大小 10M-->
        <property name="maxUploadSize" value="10485760"></property>
    </bean>

</beans>